/* apply styles to header */
header {
  padding: 60px 20px;
  /* background-image: url("../images/su-san-lee-g3PyXO4A0yc-unsplash.jpg"); */
}
header a {
  text-decoration: none;
  color: white;
}
header nav {
  margin: -30px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 10 40px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
  display: inline;
}
/* apply styles to the body */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: linear-gradient(beige, rgb(171, 118, 75));
}
section {
  border: black;
  text-align: center;
  border-style: solid;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
}
.btn {
  border-color: black;
}
.btn:hover {
  background-image: linear-gradient(white, rgb(171, 118, 75));
}
/* apply styles to the footer */
footer {
  background: aliceblue;
  height: 80px;
  width: 100%;
  padding: 25px 35px;
  position: absolute;
  bottom: 0;
  margin-top: -80px;
}
footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
footer div {
  float: center;
  line-height: 1;
  text-align: center;
}
footer a {
  color: #024e76;
}

.hide {
  display: none;
}
