/* apply styles to header */
header {
padding: 60px 20px;
  background-image: linear-gradient(rgb(0, 16, 235), grey);
}
header a {
  text-decoration: none;
  color:black
}
header nav {
  float: right;
  margin: -30px 0;
}
header nav ul li {
  display:inline
}
header nav ul li a {
  margin: 10 40px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: black;
  margin: 0;
  display: inline;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:darkturquoise;
}
section {
  border: black;
  text-align: center;
  border-style: solid;
  margin-left: 60px;
  margin-right: 60px;
}
.btn:hover {
  background-image: linear-gradient(white, rgb(124, 0, 128));
}
footer {
  background: aliceblue;
  width: 100%;
  padding: 40px 35px;
}
footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
footer div {
  float: right;
  line-height: 1;
  text-align: right;
}
footer a {
  color: #024e76;
}
